<div class="container-fluid">
    <h2 style = 'margin-top:10px;'>{{title}}</h2>
    <h5>{{alluser}}</h5>
    <h5>{{alladmin}}</h5>
    <h5>{{allbook}}</h5>
    <h5>{{allcate}}</h5>
    <h5>{{allauthor}}</h5>
</div>